.post-list-holder-by-time .post.post--comment {
  display: none;
}

.MattermostUno-counter {
  align-items: baseline;
  background-color: rgba(0, 0, 0, 0.05);
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  margin: 0.5rem 0 0.6rem;
  max-width: 600px;
  padding: 0.4rem 0.75rem 0.35rem;
}
body.MattermostUno--dark .MattermostUno-counter {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.1);
}
.MattermostUno-counter:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(0, 0, 0, 0.25);
}
body.MattermostUno--dark .MattermostUno-counter:hover {
  background-color: rgba(0, 0, 0, 0.25);
  border: solid 1px rgba(255, 255, 255, 0.5);
}

.MattermostUno-counterAuthors {
  margin-right: 0.25rem;
}
.MattermostUno-counterAuthors > img {
  border-radius: 0.25rem;
  height: 2rem;
  margin-right: 0.5rem;
  width: 2rem;
}

.MattermostUno-counterLink {
  color: rgb(17, 83, 171) !important;
  font-weight: 700;
  margin-left: 0.25rem;
}
body.MattermostUno--dark .MattermostUno-counterLink {
  color: #f1f200 !important;
}

.MattermostUno-counterDescription {
  flex-grow: 1;
  margin-left: 1rem;
  position: relative;
}
.MattermostUno-counterDescriptionOff {
  opacity: 0.8;
  transition: opacity 0.2s;
}
.MattermostUno-counter:hover .MattermostUno-counterDescriptionOff {
  opacity: 0;
}
.MattermostUno-counterDescriptionOn {
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
  transition: opacity 0.2s;
  white-space: nowrap;
}
.MattermostUno-counter:hover .MattermostUno-counterDescriptionOn {
  opacity: 0.8;
}

.MattermostUno-counterIcon {
  color: transparent;
  margin: 0 0 0.45rem;
}
.MattermostUno-counter:hover .MattermostUno-counterIcon {
  color: rgb(44, 44, 44);
}
body.MattermostUno--dark .MattermostUno-counter:hover .MattermostUno-counterIcon {
  color: rgb(211, 211, 211);
}
